html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -100px;
	padding-bottom: 140px;
}

#content{
	margin-bottom: 3em;
}

footer {
  	background-color: #303030;
	padding: 2em 0em;
}

footer div {
    line-height: 50px;
}
footer p {
    margin: 0;
}
