table.tablesorter thead th, table.tablesorter thead td{
	background: #258CD1;
    color:#fff;
	
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: 98% center;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
.table {
	background: #303030;
    margin: 20px 0px;
    width: 100%;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 1.25em;
    padding: .5em;
    text-align: left;
    vertical-align: top;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background: #393838;
}
td.center, th.center {
    text-align: center;
}
td.small, th.small {
    width: 8em;
}